@font-face {
    font-family: roboto-custom;
    src: url('./fonts/Roboto-Regular.ttf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: roboto-custom, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --LIGHT-COLOR: #f0f9ff;
    --GRAY-COLOR: #cbd5e1;
    --DARK-GRAY-COLOR: #94a3b8;
    --ACCENT-COLOR: #38bdf8;
    --DARK-COLOR: #082f49;
}

body {
    font-family: roboto-custom;
    height: 100vh;
    background-color: pink;

    display: grid;
    grid-template-columns: 325px 5fr;
    grid-template-rows: 1fr 4fr;
}



/* SIDEBAR SECTION */
.sidebar {
    font-family: roboto-custom;
    color: var(--LIGHT-COLOR);
    background-color: var(--ACCENT-COLOR);
    padding: 20px;
    user-select: none;

    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: 4rem min-content min-content;
    gap: 75px;
}
.sidebar img {
    filter: invert();
}
.sidebar ul {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content min-content min-content;
    gap: 30px;
}
.sidebar ul li {
    list-style: none;
}
.sidebar ul li a {
    color: var(--LIGHT-COLOR);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bolder;

    display: grid;
    grid-template-columns: 4rem 1fr;
    align-items: center;
    gap: 25px;
}
.sidebar .icon {
    width: 2rem;
    justify-self: center;
}

.logo .icon {
    width: 4rem;
}
.logo h3 {
    font-size: 2rem;
}



/* HEADER SECTION */
.header {
    font-family: roboto-custom;
    background-color: var(--LIGHT-COLOR);
    user-select: none;
    padding: 20px;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.header .icon {
    width: 2rem;
}

.search {
    display: grid;
    grid-template-columns: 2rem 2fr 1fr;
    gap: 20px;
    align-items: center;
}
.search input {
    background-color: var(--GRAY-COLOR);
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 5px 15px;
    height: 2rem;
}

.profile {
    justify-self: flex-end;

    display: grid;
    grid-template-columns: 2rem 4rem 1fr;
    align-items: center;
    gap: 20px;
}
.picture {
    border-radius: 50%;
    width: 4rem;
}
.name {
    user-select: text;
}

.actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
}

.greeting {
    display: grid;
    grid-template-columns: 6rem 1fr;
    align-items: center;
    gap: 10px;
}
.greeting .picture {
    width: 6rem;
}

.buttons {
    justify-self: flex-end;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
}
.buttons button {
    height: 2.5rem;
    width: 5rem;
    color: var(--LIGHT-COLOR);
    background-color: var(--ACCENT-COLOR);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1rem;
}




/* MAIN SECTION */
.main {
    font-family: roboto-custom;
    background-color: var(--GRAY-COLOR);
    padding: 30px;
    user-select: none;

    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 20px;
}

.projects {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: var(--LIGHT-COLOR);
    border-left: 10px inset var(--ACCENT-COLOR);
    border-radius: 10px;
    padding: 30px 20px;

    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}
.card p {
    color: var(--DARK-GRAY-COLOR);
}
.card .icons {
    filter: invert(25%);
    cursor: pointer;

    justify-self: end;

    display: grid;
    grid-template-columns: 2rem 2rem 2rem;
    grid-template-rows: 2rem;
    gap: 20px;
}

.extras {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 1fr;
    gap: 50px;
}

.announcements,
.trending {
    display: grid;
    grid-template-rows: 50px min-content;
}
.announcements h2 {
    justify-self: top;
}
.announcements .news {
    background-color: var(--LIGHT-COLOR);
    padding: 40px 20px;
    border-radius: 10px;

    display: grid;
    grid-template-rows: repeat(5, min-content);
    align-items: center;
    gap: 20px;
}
.announcements p {
    color: var(--DARK-GRAY-COLOR);
}
.announcements .line {
    height: 2px;
    background-color: var(--DARK-GRAY-COLOR);
}

.trending .featured {
    background-color: var(--LIGHT-COLOR);
    padding: 20px;
    border-radius: 10px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.trending .featured a {
    color: var(--DARK-GRAY-COLOR);
    text-decoration: none;

    display: grid;
    grid-template-columns: 4rem 1fr;
    align-items: center;
    gap: 20px;
}
.trending .featured .tag {
    color: black;
}
.trending .featured a img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}




@media only screen and (max-width: 1460px){
    .main {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 950px){
    body {
        grid-template-columns: 1fr;
    }
    .sidebar {
        display: none;
    }
}

@media only screen and (max-width: 620px){
    .search {
        grid-template-columns: 2rem 1fr 4rem;
    }

    .profile {
        grid-template-columns: 4rem;
        justify-self: center;
    }
    .profile .name,
    .profile .icon {
        display: none;
    }

    .actions {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .actions .greeting {
        display: none;
    }
    .actions .buttons {
        justify-self: center;
    }

    .main .projects .cards {
        grid-template-columns: 1fr;
    }
}
