* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: roboto;
}

@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}

:root {
    --LIGHT-COLOR: #f0f9ff;
    --GRAY-COLOR: #cbd5e1;
    --ACCENT-COLOR: #38bdf8;
    --DARK-COLOR: #082f49;
}

body {
    height: 100vh;
    background-color: pink;

    display: grid;
    grid-template-columns: 300px 5fr;
    grid-template-rows: 1fr 4fr;
}

img {
    display: none;
}

.sidebar {
    color: var(--LIGHT-COLOR);
    background-color: var(--ACCENT-COLOR);
    padding: 20px;

    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header {
    background-color: var(--LIGHT-COLOR);
}

.main {
    background-color: var(--GRAY-COLOR);
}


@media only screen and (max-width: 900px){
    body {
        grid-template-columns: 1fr;
    }
    .sidebar {
        display: none;
    }
}